.customers-main {
  background-image: url('../images/sunrise.jpeg');
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  min-height: 90vh;
}

.custom-info {
  font-family: 'ZCOOL XiaoWei', serif;
  color: black;
  text-align: left;
  background-color: #ffffff60;
  padding: 1em;
  margin: 65px 0 20px 0;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.384);
  width: 700px;
}

.testimon {
  font-size: 20px;
  text-align: right;

  /* padding-bottom: 20px; */
}
