a {
  color: #0f0f0f !important;
  text-decoration: none;
  margin: 0px !important;
}

a:hover {
  color: rgba(69, 62, 62, 0.54) !important;
  text-decoration: none;
}

a:focus {
  color: rgba(69, 62, 62, 0.54) !important;
  text-decoration: none;
}

.navbar {
  min-height: 100px;
  margin-bottom: 0%;
  border: none;
  border-radius: 0%;
  /* font-family: 'ZCOOL XiaoWei', serif; */
  /* font-family: 'Play', sans-serif; */
  /* font-family: 'Staatliches'; */
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  /* margin-top: 30px; */
}

.navbar-default {
  background-color: white;
}

.navbar-brand {
  /* position: absolute; */
  /* width: 100%;
  left: 0;
  top: 15px;
  text-align: center;
  padding: 0;
  font-size: 30px;
  color: black !important; */
  font-size: 25px;
  margin-top: 30px !important;

}

.navbar-right {
  margin-top: 30px !important;
}
