a {
  color: #ccccdb;
  text-decoration: none;
}

a:hover {
  color: #4a8083;
  text-decoration: none;
}

a:focus {
  color: #4a8083;
  text-decoration: none;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0%;
  border: none;
  border-radius: 0%;
}

.navbar-default {
  background-color: black;
}
