.main-div {
  padding-bottom: 100px;
  height: auto;
  min-height: 90vh;
}

.main-info {
  font-family: 'ZCOOL XiaoWei', serif;
  color: black;
  text-align: right;
  font-size: 40px;
  background-color: #ffffff60;
  padding: 1em;
  margin-top: 100px;
  border-radius: 1em;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.384);
}

.page-link {
  height: 400px;
  background-image: url('../images/oneside.jpeg');
  background-size: cover;
  background-attachment: fixed;
  margin-top: 40px;
}

.img-page-link {
  padding-left: 20%;
  color: white;
  font-size: 40px;
  line-height: 300px;
}

.pic-one {
  background-image: url('../images/lena.jpg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
}

.on-top {
  text-align: left;
  font-size: 30px;
  background-color: #ffffffa6;
  margin-top: 25%;
  margin-bottom: 40px;
  padding: 30px;
  box-shadow: 0px 0px 10px -3px #000;
  font-family: 'ZCOOL XiaoWei', serif;
  color: black;
  line-height: 20px;
}

.pic-four {
  background-image: url('../images/about.jpg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: left;
}

.second-section {
  padding-bottom: 100px;
  height: auto;
}

.points {
  padding-top: 15px;
  font-size: 25px;
  color: black;
}
